body {
  background-color: beige;
}

.heading {
  text-align: center;
  font-family: "Otomanopee One", sans-serif;
}
.inputs {
  text-align: center;
}
.addTask {
  margin: 20px;
}

.task {
  margin: 10px;
}

.tasks {
  display: inline-block;
  text-align: center;
  margin: 30px;
  width: 400px;
  height: 200px;
}
